<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>PlantTrial DB | Home</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/lightbox.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->
<link rel="shortcut icon" href="images/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="images/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="images/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="images/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed"
	href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->

<body>
		<header id="header">
		<div class="navbar navbar-inverse" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="/">
						<h1>
							<img class="logo" src="images/logo.png" alt="logo">
						</h1>
					</a>

				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="index.html">Home</a></li>
						<li class="dropdown active"><a href="#">Search<i
								class="fa fa-angle-down"></i></a>
							<ul role="menu" class="sub-menu">
								<li><a href="/getGSList">Show All</a></li>
								<li><a href="/getAllBySubmissionDate">Sorted by submission Date</a></li>
								<li><a class="/organism" href="/getbyorganismview">By Scientific Name</a></li>
								<li><a href="/getbycommonnameview">By Common Name</a></li>
								<li><a href="getbyProjectIdView">By Project Name</a></li>
								<li><a href="#">By Lab Name</a></li>
								
								
								
							
							</ul></li>
							<li><a href="/contact">Contact Us</a></li>
						
					</ul>
				</div>
			</div>
		</div>
	</header>
	<!--/#header-->
	
	<div class="container">
		<div class="row">
			
					
				
  
  <table class="table">
      <tr>
        <th>projectId</th>
        <th>organismName</th>
        <th>commonName</th>
         <th>Release Date</th>
              <th>strain</th>
        <th>dataSource</th>
        <th> publication</th>
           
      </tr>
      <tr th:each="row : ${result}">
      
        <td th:text="${row.projectId}"></td>
      <td th:text="${row.organismName}"></td>
      <td th:text="${row.commonName}"></td>

 <td th:text="${row.releasedate}"></td>
      
      <td th:text="${row.strain}"></td>
      <td th:text="${row.dataSource}"> </td>
      <td th:text="${row.publication}"></td>
      
      </tr>
    </table>
  
  

					
		
		</div>
	</div>

	<footer id="footer">
		<div class="container">
			<div class="row">
				
	<div class="col-sm-12">
					<div class="copyright-text text-center">
						<p>&copy; Your Company 2017. All Rights Reserved.</p>
						<p>
							Designed by <a target="_blank" href="http://www.themeum.com">NABI</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--/#footer-->

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/lightbox.min.js"></script>
	<script type="text/javascript" src="js/wow.min.js"></script>
	<script type="text/javascript" src="js/jquery.countTo.js"></script>
	<script type="text/javascript" src="js/main.js"></script>

</body>
</html>